<!DOCTYPE html>
<html>
  <head>
    <title>
      <h1>Today</h1>
    </title>
  </head>
  <body>
    <p><% date = DateTime.now
          date.strftime("%A") = day
          date.strftime("%B") = month
          date.strftime("%d") = daynum
          date.strftime("%Y") = year
          %>The date is <%= "day" + ", " + "month" + " daynum" + ", " + "year" %></p>

  </body>
</html>
